@model zad2.Models.IndexViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>
        @{
            ViewData["Title"] = "Active";
        }
    </title>
</head>
<body>
    <h2><strong>Active Todos</strong></h2>
    <p>
        <a asp-action="Add">Add new todo</a>
        <a asp-action="Completed">See completed todos</a>
    </p>
    @if (Model.Items.Count() != 0)
    {
        foreach (var todo in Model.Items)
        {
            <hr />
            <h4><strong>@todo.Text</strong> @if(todo.DaysLeft < 3 && todo.DaysLeft > 0) { <small class="text-danger">(Only @todo.DaysLeft day(s) left!)</small> }</h4>
            <p>
                <h5>Created on: @todo.DateCreated</h5>
                @if(todo.DateDue != null)
                {
                    <h5>Due to: @todo.DateDue</h5>
                }
                
                <a asp-action="MarkAsCompleted" asp-route-id="@todo.Id"><strong>Mark as completed</strong></a>
            </p>

        }

    }
    else
    {
        <hr />
        <h4>There is no active todos.</h4>

    }
</body>
</html>